@mixin for-desktop{
    @media (min-width:768px){
        @content;
    }
}
@mixin for-mobile{
    @media (min-width:431px){
        @content;
    }
}
@mixin for-430{
    @media (max-width:430px){
        @content;
    }
}
@mixin box-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $default) {
    box-shadow: $x-axis $y-axis $blur $color;
}
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
@mixin transition($transition...){
    -webkit-transition:$transition;
    -moz-transition:$transition;
    -o-transition:$transition;
    transition:$transition;
}
@mixin border-radius($top-left:null, $top-right:null, $bottom-right:null, $bottom-left:null){
    -webkit-border-radius:$top-left $top-right $bottom-right $bottom-left;
    -moz-border-radius:$top-left $top-right $bottom-right $bottom-left;
    -ms-border-radius:$top-left $top-right $bottom-right $bottom-left;
    border-radius:$top-left $top-right $bottom-right $bottom-left;  
}
@mixin fadeInUp{
    -webkit-animation:fadeInUp 0.5s ease forwards;
    -moz-animation:fadeInUp 0.5s ease forwards;
    -ms-animation:fadeInUp 0.5s ease forwards;
    -o-animation:fadeInUp 0.5s ease forwards;
    animation:fadeInUp 0.5s ease forwards;
}