@use '../../styles/index.scss' as *;

.list{
    display:grid;
    gap:10px;
    @extend .p-1;
    @include fadeInUp;
    @include for-desktop{
        grid-template-columns:repeat(2, 1fr);
    }
    &:global(:has(.loader)){
        display:block;
    }
    figure{
        display:flex;
        justify-content:space-between;
        background-color:$color-ffffff;
        @include transition(all .3s ease-in-out);
        @include border-radius(1rem);
        overflow:hidden;
        cursor:pointer;
        @include for-400{
            flex-direction:column;
        }
        img{
            flex:0 1 20rem;
            width:20rem;
            height:20rem;
            @include for-400{
                flex:1 1 100%;
                width:100%;
            }
        }
        figcaption{
            flex:1 1 auto;
            @extend .p-1;
            display:flex;
            flex-direction:column;
            align-items:flex-start;
            gap:.5rem;
            @include for-400{
                align-items:center;
            }
        }
        button{
            @extend .p-1;
        }
        &:hover{
            @include box-shadow(.2rem, .2rem, 1.1rem, 0 rgba(246, 242, 242, 0.606));
        }
    }
}