@use '../../styles/index.scss' as *;

.detail{
    @extend .p-1;
    @include fadeInUp;
    position:relative;
    figure{
        display:flex;
        justify-content:space-between;
        background-color:$color-ffffff;
        @include border-radius(1rem);
        overflow:hidden;
        @include box-shadow(.2rem, .2rem, 1.1rem, 0 rgba(167, 159, 159, 0.61));
        @extend .p-2;
        @include for-430{
            flex-direction:column;
            padding:1rem;
        }
        img{
            flex:1 1 100%;
            height:100%;
            @extend .mb-1;
            @include for-mobile{
                flex:0 1 30rem;
                height:30rem;
                margin-right:2rem;
                margin:0 2rem 0 0;
            }
        }
        figcaption{
            flex:1 1 auto;
            > div{
                @extend .mb-1;
                @include for-430{
                    margin-bottom:0;
                }
            }
        }
    }
}
.button__close{
    display:flex;
    align-items:center;
    justify-content:center;
    color:$color-ffffff;
    font-size:1.4rem;
    @include border-radius(100%);
    background-color:$color-grey;
    @include position(absolute, $top:2rem, $right:2rem);
    width:2rem;
    height:2rem;
}
.key{
    font-weight:500;
}